* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #e7e2df;
  color: #303030;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;



  .wrapper {
    display: block;

    .name-space {
      border-right: #303030 1px solid;

      position: fixed;

      width: 5.5vw;
      height: 100vh;

      h3 {
        margin: auto;
        margin-top: 5vh;

        font-weight: bold;

        writing-mode: vertical-lr;
        text-orientation: initial;
        transform: rotate(-180deg);
      }
    }

    .content-space {
      // border: solid 2px red;

      width: 94.5vw;
      margin-left: 5.5vw;

      .eye-catcher {
        // border: solid 2px blue;

        height: 100vh;

        p {
          margin: 0;
          font-family: 'Inter';
          font-size: 7vw;
          font-weight: 1000;
        }

        .typewrite {
          text-decoration: none;

          .wrap {
            background-color: #303030;
            color: #e7e2df;
          }
        }
      }

      .introduction {
        // border: solid 2px blue;

        width: 30vw;
        margin-left: 45vw;

        .view {
          width: 5%;
          margin: auto;
          margin-top: 5vh;

          .vertical {
            writing-mode: vertical-lr;
            text-orientation: initial;
            transform: rotate(-180deg);

            font-family: 'Inter';
            font-size: 0.8em;
            font-weight: 600;
            margin: auto;
          }

          .vertical-line {
            margin: auto;
            margin-top: 1vh;
            width: 1px;
            background-color: #303030;
            height: 100%;
          }
        }
      }

      .projects {
        // border: solid 2px blue;

        width: 94.5vw;
        height: 200vh;

        .container {
          // border: solid 2px blue;

          margin-top: 10vh;
          height: 110vh;
          // background-color: #303030;
          position: relative;
          font-family: 'Poppins', sans-serif ;
          font-size: 7vw;
          -webkit-font-smoothing: antialiased;

          .filled-text{
            position: absolute;
            top: 200px ;
            left: 100px ;
            z-index: 1 ;
            font-size: 100px ;
            font-weight: 600 ;
          }
          
          .outline-text {
            position: absolute;
            top: 200px ;
            left: 100px ;
            z-index: 3 ;
            font-size: 100px ;
            font-weight: 600 ;
            -webkit-text-stroke-width: 4px;
            -webkit-text-stroke-color: #303030;
            color: transparent;
          }

          img {
            position: absolute;
            top: 50px ;
            left: 600px ;
            z-index: 2 ;
            height: 400px ;
            width: auto ;
          }

          p {
            font-size: 1vw;
            font-family: 'Inter'; 
            width: 60vh;
            left: 5vw;
            position: absolute;
            top: 80vh;
            color: #303030;
          }
        }
      }
    }

    .footer {
      // border: solid red 2px;
      background-color: white;
      display: flex;
      height: 400px;
      position: relative;

      .column-0 {
        // border: solid green 2px;

        height: 100%;
        margin-left: 5.6vw;

        p {
          font-family: 'Anton';
          font-size: 3em;
          margin-top: 75px;
        }
      }

      .column-1 {
        // border: solid green 2px;
        height: 100%;

        .links {
          margin-top: 85px;
          margin-left: 5vw;
        }
      }
    }
  }
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #e7e2df;
}

body::-webkit-scrollbar-thumb {
  background-color: #303030;
}